---
import Section from "./Section.astro";

---

<Section
  title="Disfrute de Tesla"
  subtitle="Programe un aprueba de conduccion hoy mismo"
  color="white"
>
  <div slot="footer">
    <slot name="footer" />
    <a
      href="#"
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
    >
      Prueba de conducción</a
    >
  </div>
  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="./../../public/video.mp4"></video>
</Section>
